
#zone_file is the only *required* config value as it defines where dhcpd2nsd adds hosts
zone_file = "/var/nsd/zones/master/local_zone.local"



### Defaulted values ###

# ttl_offset = 59;
# serial_inc = 1;
# nsd_pid_file = '/var/nsd/run/nsd.pid';
# skip_reservations = 0;
# dhcpd_conf = '/etc/dhcpd.conf';
# log_name = 'dhcpd2nsd';
# log_facility = 'LOG_DAEMON';
# log_priority = 'notice';

